@font-face {
    font-family: "Montserrat SemiBold";
    src: local("Montserrat SemiBold"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Bold";
    src: local("Montserrat Bold"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Medium";
    src: local("Montserrat Medium"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Light";
    src: local("Montserrat Light"), url("../fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Courier";
    src: url("../fonts/CourierPrime-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "sf-ui";
    src: url("../fonts/sf-ui-display-cufonfonts/sf-ui-display-black-58646a6b80d5a.otf");
}

@font-face {
    font-family: "sf-ui-bold";
    src: url("../fonts/sf-ui-display-cufonfonts/sf-ui-display-bold-58646a511e3d9.otf");
}

@font-face {
    font-family: "sf-ui-heavy";
    src: url("../fonts/sf-ui-display-cufonfonts/sf-ui-display-heavy-586470160b9e5.otf");
}

@font-face {
    font-family: "sf-ui-light";
    src: url("../fonts/sf-ui-display-cufonfonts/sf-ui-display-light-58646b33e0551.otf");
}

@font-face {
    font-family: "sf-ui-medium";
    src: url("../fonts/sf-ui-display-cufonfonts/sf-ui-display-medium-58646be638f96.otf");
}

@font-face {
    font-family: "sf-ui-semibold";
    src: url("../fonts/sf-ui-display-cufonfonts/sf-ui-display-semibold-58646eddcae92.otf");
}

@font-face {
    font-family: "sf-ui-thin";
    src: url("../fonts/sf-ui-display-cufonfonts/sf-ui-display-thin-58646e9b26e8b.otf");
}

@font-face {
    font-family: "sf-ui-ultralight";
    src: url("../fonts/sf-ui-display-cufonfonts/sf-ui-display-ultralight-58646b19bf205.otf");
}
